<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_ROOT_DIR" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %cyan(%d{dd-MM-yyyy HH:mm:ss.SSS}) %highlight(%-5level) %magenta([%thread]) %yellow(%logger{40}.%M\(%class{0}.java:%line\)) - %msg%throwable%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_ROOT_DIR}/jaegerFrontend.txt</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_DIR}/archive/jaegerFrontend-%d{yyyy-MM-dd}.%i.txt.gz</fileNamePattern>
            <!-- each archived file's size will be max 10MB -->
            <maxFileSize>2MB</maxFileSize>
            <!-- 30 days to keep -->
            <maxHistory>30</maxHistory>
            <!-- total size of all archive files, if total size > 2GB, it will delete old archived file -->
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="ROLLING-FILE" />
    </root>


</configuration>